@using Kartel.Domain.IoC
@using Kartel.Trade.Web.Classes.Cache
@{
    
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=960px" />
    <title>@ViewBag.Title | Картель.рф</title>
    @Html.Partial("Includes")
</head>
<body>
    <div id="container-wrapper">
        <div id="container">
            @Html.Partial("Header")
            <section id="content">
                <div id="content-wrapper">
                    @RenderBody()
                </div>
            </section>
        </div>
        @Html.Partial("Footer")
    </div>
    <script type="text/javascript">
        $("#categories li").each(function (index, item) {
            var length = parseInt($(item).data("length"));
            if (length > 27) {
                $(item).addClass("big");
            }
        });
    </script>
</body>
</html>
