@using Kartel.Domain.IoC
@using Kartel.Trade.Web.Classes.Cache
@{
    var catIndex = Locator.GetService<CategoriesIndexManager>();
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=960px" />
    <title>@ViewBag.Title | Картель.рф</title>
    @Html.Partial("Includes")
</head>
<body>
    <div>
        @Html.Partial("Header")
        <section id="content">
            <div id="content-wrapper">
                <div id="content-categories">
                    <div id="categories-header">
                    
                    </div>
                    <ul id="categories">
                        @foreach(var category in catIndex.RootCategories)
                        {
                            <li data-length="@category.Title.Length">
                                <a href="/category/@category.Id">@category.Title</a>
                            </li>
                        }
                    </ul>
                </div>
                <div id="content-section">
                    @RenderBody()    
                </div>    
            </div>
        </section>
        @Html.Partial("Footer")
    </div>
    <script type="text/javascript">
        $("#categories li").each(function(index, item) {
            var length = parseInt($(item).data("length"));
            if (length > 27) {
                $(item).addClass("big");
            }
        });
    </script>
</body>
</html>
