@using Kartel.Domain.IoC
@using Kartel.Trade.Web.Classes.Cache
@{
    var catIndex = Locator.GetService<CategoriesIndexManager>();
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=970px" />
    <title>@ViewBag.Title | Картель.рф</title>
    @Html.Partial("Includes")
</head>
<body>
    <div>
        <header id="header">
            <div id="header-content">
                <div id="top-menu-wrapper">
                    <ul id="top-menu">
                        <li><a href="/buy">Купить</a> / </li>
                        <li><a href="/sell">Продать</a> / </li>
                        <li><a href="/services">Все сервисы</a> / </li>
                        <li><a href="/my">Мой Kartel</a> / </li>
                        <li><a href="/help">Помощь</a></li>
                    </ul>
                    <a id="top-login" href="/account/login">Вход в личный кабинет</a> / <a id="top-register" href="/account/register">Регистрация</a>
                </div>
                <div id="logo-line">
                    <a href="/" id="logo">
                        <img src="/Content/images/layout/logo.png"/>
                    </a>
                    <div id="search-wrapper">
                        <div id="search-fields-wrapper">
                            <div id="search-criteria">
                                <div id="selected-criteria">
                                    Товары    
                                </div>
                            </div>
                            <div id="search-text-wrapper">
                                <input type="text" name="query"/>
                            </div>
                        </div>
                        <input type="submit" value=" "/>
                    </div>
                </div>
            </div>
        </header>
        <section id="content">
            <div id="content-wrapper">
                <div id="content-categories">
                    <div id="categories-header">
                    
                    </div>
                    <ul id="categories">
                        @foreach(var category in catIndex.RootCategories)
                        {
                            <li data-length="@category.Title.Length">
                                <a href="/category/@category.Id">@category.Title</a>
                            </li>
                        }
                    </ul>
                </div>
                <div id="content-section">
                    @RenderBody()    
                </div>    
            </div>
        </section>
        <footer id="footer">
            <div id="footer-content">
                <a href="http://karteltrade.ru">KartelTrade.ru</a> 2013 (c)
            </div>
        </footer>
    </div>
    <script type="text/javascript">
        $("#categories li").each(function(index, item) {
            var length = parseInt($(item).data("length"));
            if (length > 27) {
                $(item).addClass("big");
            }
        });
    </script>
</body>
</html>
