@using Kartel.Domain.Infrastructure.Misc
@model Kartel.Domain.Entities.Product

<div class="product">
    <div class="image">
        <a href="/product/@Model.Id">
            <img src="/files/prodimage/@Model.Img"/>    
        </a>
    </div>
    <div class="title">
        <a href="/product/@Model.Id">@Model.Title.TrimEllipsis(30)</a>
    </div>
    <div class="details">
        <div class="detailItem">
            Цена: @Model.GetPrice() @Model.GetCurrency()
        </div>
        @if (!String.IsNullOrEmpty(Model.Field4))
        {
            <div class="detailItem">
                Мин. партия: @Model.Field4
            </div>    
        }
        <div class="detailItem">
            @Model.User.City
        </div>
        <div>
            @Model.User.Country
        </div>
    </div>
    <div class="author">
        <a href="/vendor/@Model.UserId">@Model.User.Company</a>
    </div>
</div>
