@using Kartel.Domain.Entities
@model dynamic

@{
    User user = ViewBag.user;
    ViewBag.Title = "Информация о компании "+user.Company;
    Layout = "UserSiteLayout.cshtml";
    ViewBag.metaKeywords = "Описание компании, виды деятельности, предложения компании "+user.Company;
    ViewBag.metaDescription = "Информация о компании "+user.Company;
}

<div class="product-info">
    <div class="product-title">
        О Компании
    </div>
    <div class="html-text">
        @Html.Raw(user.About)
    </div>
    <table class="prop">
        <tr class="item">
            <td>Название компании:
            </td>
            <td>
                @user.Company
            </td>

        </tr>
        <tr class="item">
            <td>Бренд:
            </td>
            <td>
                @user.Brand
            </td>

        </tr>
        <tr class="item">
            <td>Адрес:
            </td>
            <td>@user.Country, @user.Region, @user.City, @user.Address</td>
        </tr>
        @if (user.UserOccupationInfos != null)
        {
            <tr class="item">
                <td>Основная деятельность:
                </td>
                <td>
                    @if (user.UserOccupationInfos.Agent)
                    {
                        <text>агент,</text>
                    }
                    @if (user.UserOccupationInfos.Developer)
                    {
                        <text>производитель,</text>
                    }
                    @if (user.UserOccupationInfos.Distributor)
                    {
                        <text>дистрибьютор,</text>
                    }
                    @if (user.UserOccupationInfos.Exporter)
                    {
                        <text>экспортер,</text>
                    }
                    @if (user.UserOccupationInfos.Importer)
                    {
                        <text>импортер,</text>
                    }
                    @if (user.UserOccupationInfos.ODM)
                    {
                        <text>ОДМ,</text>
                    }
                    @if (user.UserOccupationInfos.OEM)
                    {
                        <text>ОЕМ,</text>
                    }
                    @if (user.UserOccupationInfos.SingleSeller)
                    {
                        <text>розничный продавец,</text>
                    }
                    @if (user.UserOccupationInfos.Whoseller)
                    {
                        <text>оптовый продавец</text>
                    }
                </td>
            </tr>    
        }
        <tr class="item">
            <td>Диллер / Дистрибьютор:
            </td>
            <td>
                @user.Dealer
            </td>
        </tr>
    </table>
</div>
