@using Kartel.Domain.Entities
@using Kartel.Trade.Web.Classes.Utils
@model Kartel.Domain.Entities.UserCategory

@{
    Layout = "UserSiteLayout.cshtml";
    int page = ViewBag.page;
    User user = ViewBag.user;
    int totalPages = MathHelper.PagesCount(Model.GetProductsCount(), 9);
    var anyProduct = Model.GetProducts().FirstOrDefault();
    ViewBag.Title = String.Format("{0}, {1}, {2}",Model.Title,user.Company,user.City);
    ViewBag.metaKeywords = String.Format("товары, услуги, предлогаем, продаем {0}",user.Company);
    ViewBag.metaDescription = "Товары и услуги компании " + user.Company;
}

<div class="panel">
    <div class="panel-category-title">
        @Model.Title
    </div>
    <div class="panel-products-content">
        <div class="products">
            @foreach (var product in Model.GetProducts().Skip(page * 9).Take(9))
            {
                @Html.Partial("Product", product)
            }
        </div>
        @* Пагинатор *@
        @if (totalPages > 1)
        {
            <div id="paginator">
                @for (var i = 0; i < totalPages; i++)
                {
                    if (i == page)
                    {
                    <span class="current-page">@(page + 1)</span>
                    }
                    else
                    {
                    <a href="/vendor/category/@Model.UserId?catId=@Model.Id&page=@(i)">@(i + 1)</a>
                    }
                }
            </div>
        }
    </div>
</div>
@if (Model.User.Tarif != "gold" && anyProduct != null)
{
    <div class="panel" style="margin-top: 15px">
        <div class="panel-title gradient">
            Предложения других поставщиков
        </div>
        <div class="panel-content">
            <div class="products">
                @{
                    var goods = anyProduct.Category.GetRandomProducts().ToList();
                }
                @while (goods.Count > 0)
                {
                    <div class="row">
                        @foreach (var product in goods.Take(4).ToList())
                        {
                            goods.Remove(product);
                            @Html.Partial("HotProduct", product)
                        }
                    </div>
                }
            </div>
        </div>
    </div> 
}
