@model Kartel.Domain.Entities.Product

@{
    ViewBag.Title = Model.Title;
    Layout = "UserSiteLayout.cshtml";
}

<div class="product-info">
    <div class="product-title">
        @Model.Title
    </div>
    <div class="product-photo">
        <img src="/files/prodimage/@Model.Img" alt="@Model.Title"/>
    </div>
    <div class="product-details">
        <div class="item">
            <b>Бренд:</b> @Model.Field1
        </div>
        <div class="item">
            <b>Минимальная партия:</b> @Model.Field4
        </div>
        <div class="write">
            <a href="/product-feedback/@Model.Id">
                <span id="write-customer" class="gradient">Написать</span></a>
        </div>
    </div>
    <div class="html-info">
        @Html.Raw(Model.Description)
    </div>
</div>
@if (Model.User.Tarif != "gold")
{
    <div class="panel" style="margin-top: 15px">
        <div class="panel-title gradient">
            Предложения других поставщиков
        </div>
        <div class="panel-content">
            <div class="products">
                @{
    var goods = Model.Category.GetRandomProducts().ToList();
                }
                @while (goods.Count > 0)
                {
                    <div class="row">
                        @foreach (var product in goods.Take(4).ToList())
                        {
                            goods.Remove(product);
                            @Html.Partial("HotProduct", product)
                        }
                    </div>
                }
            </div>
        </div>
    </div>
}