@using Kartel.Domain.Interfaces.Repositories
@using Kartel.Domain.IoC
@model Kartel.Domain.Entities.Product

@{
    ViewBag.Title = Model.Title;
    Layout = "UserSiteLayout.cshtml";
}

<div class="product-info">
    <div class="product-title">
        @Model.Title
    </div>
    <div class="product-photo">
        <img src="/files/prodimage/@Model.Img" alt="@Model.Title"/>
    </div>
    <div class="product-details">
        <div class="item">
            <b>Цена:</b> @Model.Price @Model.Currency @Model.Measure
        </div>
        <div class="item">
            <b>Цена:</b> @Model.Price @Model.Currency @Model.Measure
        </div>
        <div class="item">
            <b>Минимальная партия:</b> @Model.MinimunLotSize @Model.MinimumLotMeasure
        </div>
        <div class="item">
            <b>Страна производитель:</b> @Model.VendorCountry
        </div>
        <div class="item">
            <b>Срок поставки:</b> @Model.DeliveryTime
        </div>
        <div class="item">
            <b>Возможность поставки:</b> @Model.DeliveryPossibilityDay @Model.DeliveryPossibilityMeasure @Model.DeliveryPossibilityTime
        </div>
        <div class="item">
            <b>Артикул:</b> @Model.ProductCode
        </div>
        <div class="item">
            <b>Упаковка:</b> @Model.ProductBox
        </div>
        <div class="write">
            <a href="/product-feedback/@Model.Id">
                <span id="write-customer" class="gradient">Написать</span></a>
        </div>
    </div>
    <div class="html-info">
        @Html.Raw(Model.Description)
    </div>
    @{
        var addPhotos = Model.GetProductImages().ToList();
        if (addPhotos.Count > 0)
        {
            foreach(var photo in addPhotos)
            {
                <div style="margin: 10px; text-align: center;">
                    <img src="/files/prodimage/@photo.Image" style="width: 95%"/>
                </div>
            }
        }
    }
</div>
@if (Model.User.Tarif != "gold")
{
    <div class="panel" style="margin-top: 15px">
        <div class="panel-title gradient">
            Предложения других поставщиков
        </div>
        <div class="panel-content">
            <div class="products">
                @{
                    var goods = Locator.GetService<IProductsRepository>().GetHotProductsForView(8,Model.Category);
                    if (goods.Count == 0)
                    {
                        goods = Model.Category.GetRandomProducts(8).ToList();
                    }
                }
                @while (goods.Count > 0)
                {
                    <div class="row">
                        @foreach (var product in goods.Take(4).ToList())
                        {
                            goods.Remove(product);
                            @Html.Partial("HotProduct", product)
                        }
                    </div>
                }
            </div>
        </div>
    </div>
}