@using Kartel.Trade.Web.Classes.Ext
@model System.Collections.Generic.List<Kartel.Domain.Entities.Product>

@{
    ViewBag.Title = "Товары в категории";
    Layout = "AccountLayout.cshtml";
}

<div class="account-content">
    <div style="margin-top: 15px; margin-left: 15px">
        @Html.Partial("NavigationChain")
    </div>

    <div class="action-panel">
        <span class="select-all top"></span>

        <span class="round change-category">Сменить категорию</span>
        <span class="round make-hot">Показывать в "Горячих Товарах"</span>
    </div>
    <table class="products-table">
        <tbody>
            @if (Model.Count > 0)
            {
                foreach (var product in Model)
                {
                <tr data-id="@product.Id">
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        @if (!String.IsNullOrEmpty(product.Img))
                        {
                            <img src="/files/prodimage/@product.Img" width="40" height="40" /> @* Картинка продукта *@    
                        }
                        else
                        {
                            <img src="~/Content/images/account/product-no-img.jpg" style="border: 1px solid #c0c0c0;" />
@*                                <img src="http://kub1.ru/images/no_picture.jpg"/>*@
                        }
                    </td>
                    <td class="name">
                        <a href="/account/products/edit-product/@product.Id">@product.Title</a>
                    </td>
                    <td>
                        <a href="/account/products/delete-product/@product.Id" onclick=" return confirm('Действительно хотите удалить этот товар?') ">Удалить</a>
                    </td>
                </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5">Нет товаров в категории
                    </td>
                </tr>    
            }

        </tbody>
    </table>
    <div class="action-panel">
        <span class="select-all bottom"></span>

        <span class="round change-category">Сменить категорию</span>
        <span class="round make-hot">Показывать в "Горячих Товарах"</span>
    </div>
    <div class="fields-group" style="display: none;" id="move-form-wrapper">
        <div class="fields-title">
            Перемещение товаров
        </div>
        <form method="POST" id="move-product-form" action="/account/move-products">
            <input type="hidden" name="selectedIds" id="selected-ids-field" />
            <div class="field">
                <div class="label">
                    Новая категория
                </div>
                <div class="editor">
                    <select name="newCategoryId">
                        @foreach (var cat in ViewContext.CurrentUser().GetUserCategories())
                        {
                            <option value="@cat.Id">@cat.Title</option>
                        }
                    </select>
                </div>
            </div>
            <div style="text-align: center">
                <input type="submit" class="save" value=" " />
            </div>

        </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".change-category").click(function () {
            var selectedIds = "";
            $(".products-table :checked").each(function (index, item) {
                var id = $(item).parent().parent().data("id");
                selectedIds += id + ',';
            });
            $("#selected-ids-field").val(selectedIds);
            $("#move-form-wrapper").stop(true, true).slideToggle("slow");
        });
        $(".make-hot").click(function () {
            var ids = "";
            $(".products-table").find(":checked").each(function (index, item) {
                ids += $(item).parent().parent().data("id") + ",";
            });
            if (ids.length > 1 && confirm('Вы действительно хотите включить выбранные товары в блок горячих товаров?')) {
                window.location.href = '/account/HotProductsMakeHot?ids=' + ids;
            }
        });
    });
</script>
