@using Kartel.Domain.Interfaces.Repositories
@using Kartel.Domain.IoC
@using Kartel.Trade.Web.Classes.Ext
@model Kartel.Domain.Entities.UserBanner

@{
    ViewBag.Title = "Редактирование баннера на главную страницу сайта";
    Layout = "AccountLayout.cshtml";
    var templatesRep = Locator.GetService<IUserBannerTemplatesRepository>();
    var allTemplates = templatesRep.FindAll().GroupBy(g => g.Category).OrderBy(g => g.Key);
}

<div class="account-content">
    <div style="margin-top: 15px; margin-left: 15px">
        @Html.Partial("NavigationChain")
    </div>
    @* Превью баннера *@
    <div class="fields-group">
        <div class="fields-title">
            Превью
        </div>
        <div class="banner-preview">
            <div class="banner">
                <img src="/files/@Model.ImageUrl" class="banner-image"/>
                <div id="banner-text" class="banner-text"></div>
            </div>
        </div>
    </div>
    @* Редактирование свойств *@
    <form action="/account/savebanner" id="save-banner-form" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="ImageUrl" id="image-url-field" value="@Model.ImageUrl"/>
        <input type="hidden" name="Id" value="@Model.Id"/>
        <div class="fields-group">
            <div class="fields-title">
                Свойства баннера
            </div>
            <div class="field">
                <div class="label">&nbsp;</div>
                <div class="editor">
                    @Html.CheckBoxFor(b => b.Enabled) Отображать        
                </div>
            </div>
            <div class="field">
                <div class="label">
                    Фоновый рисунок
                </div>
                <div class="editor">
                    <input type="file" name="bg" id="bg-field" class="banner-field" />
                </div>
            </div>
            @*<div class="field">
                <div class="label">
                    Высота
                </div>
                <div class="editor">
                    <input type="text" name="Height" id="height-field" class="banner-field" value="@Model.Height"/>
                </div>
            </div>*@
            <div class="field">
                <div class="label">
                    Текст
                </div>
                <div class="editor">
                    <input type="text" name="Text" id="text-field" class="banner-field" value="@Model.Text"/>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    Размер текста
                </div>
                <div class="editor">
                    <select name="Size" id="size-field" class="banner-field">
                        <option value="small" @(Model.Size == "small" ? "selected=selected" : "")>Маленький</option>
                        <option value="medium" @(Model.Size == "medium" ? "selected=selected" : "")>Средний</option>
                        <option value="large" @(Model.Size == "large" ? "selected=selected" : "")>Большой</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    Положение текста
                </div>
                <div class="editor">
                    <select name="Position" id="position-field" class="banner-field">
                        <option value="lefttop" @(Model.Position == "lefttop" ? "selected=selected" : "")>Слева сверху</option>
                        <option value="middletop" @(Model.Position == "middletop" ? "selected=selected" : "")>Поцентру сверху</option>
                        <option value="righttop" @(Model.Position == "righttop" ? "selected=selected" : "")>Справа сверху</option>
                        <option value="leftbottom" @(Model.Position == "leftbottom" ? "selected=selected" : "")>Слева снизу</option>
                        <option value="middlebottom" @(Model.Position == "middlebottom" ? "selected=selected" : "")>Поцентру снизу</option>
                        <option value="rightbottom" @(Model.Position == "rightbottom" ? "selected=selected" : "")>Справа снизу</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    Цвет текста
                </div>
                <div class="editor">
                    <select name="Color" id="color-field" class="banner-field">
                        <option value="black" @(Model.Color == "black" ? "selected=selected" : "")>Черный</option>
                        <option value="white" @(Model.Color == "white" ? "selected=selected" : "")>Белый</option>
                        <option value="red" @(Model.Color == "red" ? "selected=selected" : "")>Красный</option>
                        <option value="green" @(Model.Color == "green" ? "selected=selected" : "")>Зеленый</option>
                        <option value="blue" @(Model.Color == "blue" ? "selected=selected" : "")>Синий</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    Ссылка
                </div>
                <div class="editor">
                    <select name="Href" id="href-field" class="banner-field">
                        @foreach(var pair in ViewContext.CurrentUser().GetBannerHrefs())
                        {
                            <option value="@pair.Key" @(pair.Key == Model.Href ? "selected=selected":"")>@pair.Value</option>
                        }
                    </select>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    Порядок
                </div>
                <div class="editor">
                    <select name="BannerPosition" id="bposition-field" class="banner-field">
                        @for (var i = 1; i < 20; i++ )
                        {
                            <option value="@i" @(i == Model.BannerPosition ? "selected=selected":"")>@i</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        @* Стандартные шаблоны *@
        <div class="fields-group">
            <div class="fields-title">
                Шаблоны фона
            </div>
            <div id="banner-templates">
                <div id="templates-categories-wrapper">
                    <select id="templates-categories" size="10">
                        @foreach (var groupName in allTemplates)
                        {
                            <option value="@groupName.Key">@groupName.Key</option>
                        }
                    </select>
                </div>
                <div id="templates-preview">
                    @foreach(var group in allTemplates)
                    {
                        <div class="template-group" style="display: none" group="@group.Key">
                            @foreach(var template in group)
                            {
                                <div class="template" filename="bannertemplates/@template.Filename">
                                    <img src="/files/bannertemplates/@template.Filename"/>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
        <div style="text-align: center">
            <input type="submit" class="save" value=" " />
        </div>
    </form>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#banner-text").attr("class", "").text($("#text-field").val());
            $("#banner-text").addClass($("#size-field").val()).addClass($("#position-field").val()).addClass($("#color-field").val());
            
            $(".banner-field").change(function () {
                updateBannerPreview();
            });

            $("#templates-categories").change(function() {
                $(".template-group").hide();
                $("[group='"+$(this).val()+"']").show();
            }).change();
            $(".template").click(function() {
                $(".template").removeClass("active");
                $(this).addClass("active");
                $(".banner-image").attr("src", "/files/"+$(this).attr("filename"));
                $("#image-url-field").val($(this).attr("filename"));
            });
            
            // Обновляет превью баннера
            function updateBannerPreview() {
                $("option").each(function(index, item) {
                    $("#banner-text").removeClass($(item).attr("value"));
                });
                $("#banner-text").attr("class", "").text($("#text-field").val());
                $("#banner-text").addClass($("#size-field").val()).addClass($("#position-field").val()).addClass($("#color-field").val());
                
                // Обновляем картинку фоновую
                var ctrl = $("#bg-field").get(0);
                if (ctrl.files.length > 0) {
                    var file = ctrl.files[0];
                    var reader = new FileReader();
                    reader.onload = function (event) {
                        var dataUri = event.target.result;
                        $(".banner-image").attr("src", dataUri);
                    };
                    reader.readAsDataURL(file);
                }
            }
        });
    </script>
</div>
