@using Kartel.Trade.Web.Controllers
@model Kartel.Domain.Entities.User

@{
    ViewBag.Title = "О Компании";
    Layout = "AccountLayout.cshtml";
    var current = Model;
}
<div class="account-content">

    <div style="margin-top: 15px; margin-left: 15px">
        @Html.Partial("NavigationChain")
    </div>

    <form action="/account/save-profile" method="POST" id="company-profile-form" enctype="multipart/form-data">

        <div class="fields-group">
            <div class="field">
                <div class="label">
                    <span class="asterix">*</span>Название компании
                </div>
                <div class="editor">
                    <input type="text" name="Company" value="@current.Company" placeholder="Введите название компании"/>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    Бренд
                </div>
                <div class="editor">
                    <input type="text" name="Brand" value="@current.Brand" placeholder="Введите бренд под которым компания работает"/>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    Логотип
                </div>
                <div class="editor">
                    @if (!String.IsNullOrEmpty(current.LogoUrl))
                    {
                        <img src="/files/userimage/@current.LogoUrl" style="height: 75px; width: auto"/>    
                    }
                    <input type="file" name="LogoImage" placeholder="GIF или JPEG не более 200кб" />
                </div>
            </div>
        </div>
        <div class="fields-group">
            <div class="fields-title">
                Контактные данные
            </div>
            <div class="field">
                <div class="label">
                    E-mail
                </div>
                <div class="editor">
                    @current.Email
                </div>
            </div>
            <div class="field">
                <div class="label">
                    Контактное лицо
                </div>
                <div class="editor">
                    <input type="text" name="FIO" value="@current.FIO" placeholder="Введите фамилию имя и отчество контактного лица"/>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    Фотография
                </div>
                <div class="editor">
                    @if (!String.IsNullOrEmpty(current.FIOImg))
                    {
                        <img src="/files/userimage/@current.FIOImg" style="height: 75px; width: auto"/>    
                    }
                    <input type="file" name="FIOImage" placeholder="GIF или JPEG не более 200кб" />
                </div>
            </div>
            <div class="field">
                <div class="label">
                    <span class="asterix">*</span>Телефон
                </div>
                <div class="editor">
                    <div class="phone-wrapper">
                        @{
                            var mainPhone = current.GetMainUserPhone();
                        }
                        <input type="text" class="small" name="PhoneCountryCode" maxlength="3" placeholder="Код страны" value="@mainPhone.CountryCode"/>
                        <input type="text" class="small" name="PhoneCityCode" maxlength="5" placeholder="Код города"  value="@mainPhone.CityCode"/>
                        <input type="text" class="small" name="PhoneNumber" maxlength="15" placeholder="Телефон"  value="@mainPhone.PhoneNumber" />
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    Факс
                </div>
                <div class="editor">
                    <div class="phone-wrapper">
                        @{
                            var mainFax = current.GetMainFaxPhone();
                        }
                        <input type="text" class="small" name="FaxCountryCode" maxlength="3" placeholder="Код страны" value="@mainFax.CountryCode" />
                        <input type="text" class="small" name="FaxCityCode" maxlength="5" placeholder="Код города" value="@mainFax.CityCode" />
                        <input type="text" class="small" name="FaxNumber" maxlength="15" placeholder="Телефон"  value="@mainFax.PhoneNumber"/>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    Мобильный телефон
                </div>
                <div class="editor">
                    <div class="phone-wrapper">
                        @{
                            var mainCell = current.GetMainCellPhone();
                        }
                        <input type="text" class="small" name="CellPhoneCountryCode" maxlength="3" placeholder="Код страны"  value="@mainCell.CountryCode"/>
                        <input type="text" class="small" name="CellPhoneCityCode" maxlength="5" placeholder="Код города"  value="@mainCell.CityCode"/>
                        <input type="text" class="small" name="CellPhoneNumber" maxlength="15" placeholder="Телефон"  value="@mainCell.PhoneNumber"/>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    Skype
                </div>
                <div class="editor">
                    <input type="text" name="Skype" value="@current.Skype"/>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    ICQ
                </div>
                <div class="editor">
                    <input type="text" name="ICQ" value="@current.ICQ"/>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    Сайт
                </div>
                <div class="editor">
                    <input type="text" name="Url" value="@current.Url"/>
                </div>
            </div>
        </div>
        <div class="fields-group">
            <div class="fields-title">
                Ваше местонахождение
            </div>
            <div class="field">
                <div class="label">
                    <span class="asterix">*</span>Страна
                </div>
                <div class="editor">
                    @Html.Partial("Countries", current)
                </div>
            </div>
            <div class="field">
                <div class="label">
                    Регион
                </div>
                <div class="editor">
                    @Html.Partial("Regions", current)
                </div>
            </div>
            <div class="field">
                <div class="label">
                    <span class="asterix">*</span>Город
                </div>
                <div class="editor">
                    <input type="text" name="City" value="@current.City"/>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    <span class="asterix">*</span>Адрес
                </div>
                <div class="editor">
                    <input type="text" name="Address" value="@current.Address"/>
                </div>
            </div>
            <div class="field">
                <div class="label">
                    Индекс
                </div>
                <div class="editor">
                    <input type="text" name="ZIP" value="@current.ZIP" />
                </div>
            </div>
        </div>

        <div class="fields-group">
            <div class="fields-title">
                Деятельность компании
            </div>
            <div class="column">
                <div class="field">
                    <div class="editor">
                        @Html.CheckBoxFor(user => user.UserOccupationInfos.Importer) Импортер        
                    </div>
                </div>
                <div class="field">
                    <div class="editor">
                        @Html.CheckBoxFor(user => user.UserOccupationInfos.OEM) ОЕМ        
                    </div>
                </div>
                <div class="field">
                    <div class="editor">
                        @Html.CheckBoxFor(user => user.UserOccupationInfos.Whoseller) Оптовый продавец        
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <div class="editor">
                        @Html.CheckBoxFor(user => user.UserOccupationInfos.Exporter) Экспортер        
                    </div>
                </div>
                <div class="field">
                    <div class="editor">
                        @Html.CheckBoxFor(user => user.UserOccupationInfos.ODM) ODM        
                    </div>
                </div>
                <div class="field">
                    <div class="editor">
                        @Html.CheckBoxFor(user => user.UserOccupationInfos.SingleSeller) Розничный продавец       
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <div class="editor">
                        @Html.CheckBoxFor(user => user.UserOccupationInfos.Developer) Производитель        
                    </div>
                </div>
                <div class="field">
                    <div class="editor">
                        @Html.CheckBoxFor(user => user.UserOccupationInfos.Agent) Агент        
                    </div>
                </div>
                <div class="field">
                    <div class="editor">
                        @Html.CheckBoxFor(user => user.UserOccupationInfos.Distributor) Дистрибьютор
                    </div>
                </div>
            </div>
        </div>
        <div class="fields-group">
            <div class="fields-title">
                О компании
            </div>
            <div class="field">
                <div class="editor">
                    <textarea name="About">@current.About</textarea>
                </div>
            </div>
        </div>
        <div class="fields-group">
            <div class="fields-title">
                Банковские реквизиты
            </div>
            <div class="field">
                <div class="label">
                    ОГРН / ОГРНИП
                </div>
                <div class="editor">
                    @Html.TextBoxFor(u => u.UserLegalInfos.OGRN)
                </div>
            </div>
            <div class="field">
                <div class="label">
                    ИНН
                </div>
                <div class="editor">
                    @Html.TextBoxFor(u => u.UserLegalInfos.INN)
                </div>
            </div>
            <div class="field">
                <div class="label">
                    КПП
                </div>
                <div class="editor">
                    @Html.TextBoxFor(u => u.UserLegalInfos.KPP)
                </div>
            </div>
            <div class="field">
                <div class="label">
                    Р./счет
                </div>
                <div class="editor">
                    @Html.TextBoxFor(u => u.UserLegalInfos.AccountRNumber)
                </div>
            </div>
            <div class="field">
                <div class="label">
                    Корр./счет
                </div>
                <div class="editor">
                    @Html.TextBoxFor(u => u.UserLegalInfos.AccountKNumber)
                </div>
            </div>
            <div class="field">
                <div class="label">
                    Банк
                </div>
                <div class="editor">
                    @Html.TextBoxFor(u => u.UserLegalInfos.AccountBank)
                </div>
            </div>
            <div class="field">
                <div class="label">
                    БИК Банка
                </div>
                <div class="editor">
                    @Html.TextBoxFor(u => u.UserLegalInfos.AccountBankBIK)
                </div>
            </div>
        </div>
        <div class="fields-group">
            <div class="fields-title">
                Дилер / Дистрибьютор
            </div>
            <div class="field">
                <div class="editor">
                    <textarea name="Dealer">@current.Dealer</textarea>
                </div>
            </div>
        </div>
        <div style="text-align: center">
            <input type="submit" class="save" value=" " />
        </div>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#company-profile-form").validate({
            rules: {
                Company: {
                    required: true,
                    maxlength: 100
                },
                Brand: {
                    maxlength: 100
                },
                FIO: {
                    maxlength: 100
                },
                Skype: {
                    maxlength: 100
                },
                ICQ: {
                    digits: true
                },
                Url: {
                    maxlength: 100
                },
                Country: {
                    required: true,
                    maxlength: 100
                },
                Region: {
                    maxlength: 100
                },
                City: {
                    required: true,
                    maxlength: 100
                },
                Address: {
                    required: true,
                    maxlength: 255
                },
                PostCode: {
                    required: true,
                    maxlength: 6
                },
                About: {
                    required: false,
                    maxlength: 4000
                },
                UserLegalInfos_OGRN: {
                    maxlength: 50
                },
                UserLegalInfos_INN: {
                    maxlength: 50
                },
                UserLegalInfos_KPP: {
                    maxlength: 50
                },
                UserLegalInfos_AccountRNumber: {
                    maxlength: 50
                },
                UserLegalInfos_AccountKNumber: {
                    maxlength: 50
                },
                UserLegalInfos_AccountBank: {
                    maxlength: 50
                },
                UserLegalInfos_AccountBankBIK: {
                    maxlength: 50
                },
                Dealer: {
                    maxlength: 1000
                }
            }
        });

        $("#country-field").autocomplete({
            source: "/Account/CountriesAutoComplete",
            minLength: 2
        });
    });
</script>
