@using Kartel.Domain.Entities
@using Kartel.Domain.Interfaces.Repositories
@using Kartel.Domain.IoC
@model Kartel.Domain.Entities.Category

@{
    ViewBag.Title = Model.Title;
    Layout = "../Shared/InnerLayout.cshtml";
    int page = ViewBag.page;
    int totalPages = ViewBag.totalPages;
    var countries = Locator.GetService<ICountriesRepository>().GetAllCountries();
    string currentRegion = ViewBag.CurrentRegion;
    var currentCountry = countries.FirstOrDefault(c => c.Code == currentRegion);
    string ocFilter = ViewBag.occupation;
    IEnumerable<Product> products = ViewBag.products;
    ViewBag.metaKeywords = Model.GetMetaString(currentCountry, page, totalPages);
    ViewBag.metaDescription = Model.GetMetaString(currentCountry,page,totalPages);
}

@section LeftMenuBlock
{
    <div class="menu-block" style="margin-top: 17px;">
        <div class="menu-block-title">
            @Model.Title
        </div>
        <ul>
            @foreach (var subCategory in Model.GetChildCategories())
            {
                <li>
                    <a href="/browse-category/@subCategory.Id">@subCategory.Title</a>
                </li>
            }
        </ul>
    </div>
    <div class="menu-block">
        <div class="menu-block-title">
            Регион
        </div>
        <ul class="countries">
            <li>
                    <a href="/browse-category/@Model.Id">Все регионы</a>
                </li>
            @foreach (var c in countries)
            {
                <li>
                    <img src="@c.Flag"/><a href="/browse-category/@Model.Id?region=@c.Code&occupation=@ocFilter">@c.Name</a>
                </li>
            }
        </ul>
    </div>
}

<div id="page-categories">
    @* навигационная цепочка *@
    @Html.Partial("NavigationChain")

    @* Заголовок *@
    <div class="current-category-title">
        @Model.Title
    </div>

    @* Горячие товары *@
    <div id="hot-products">
        @{
            var hotProducts = Locator.GetService<IProductsRepository>().GetHotProductsForView(4, Model);
            if (hotProducts.Count == 0)
            {
                hotProducts = Model.GetRandomProducts().ToList();
            }
        }
        @foreach (var product in hotProducts)
        {
            @Html.Partial("HotProduct", product)
        }
        @Html.Partial("HotActions")
    </div>

    @* Верхний навигатор *@
    <input type="hidden" id="current-page" value="@page"/>
    <input type="hidden" id="current-id" value="@Model.Id"/>
    <input type="hidden" id="current-region" value="@currentRegion"/>
    <input type="hidden" id="current-occupation" value="@ocFilter"/>
    @Html.Partial("ProductsNavigator")

    <div id="products">
        @foreach (var product in products)
        {
            @Html.Partial("Product", product)
        }
    </div>

    @* нижний навигатор *@
    @Html.Partial("ProductsNavigator")

    @* Пагинатор *@
    @if (totalPages > 1)
    {
        <div id="paginator" style="text-align: center;">
            @for (var i = 0; i < totalPages; i++)
            {
                if (i == page)
                {
                <span class="current-page">@(page + 1)</span>
                }
                else
                {
                    if (currentRegion == null)
                    {
                        <a href="/browse-category/@Model.Id?page=@(i)">@(i + 1)</a>
                    }
                    else
                    {
                        <a href="/browse-category/@Model.Id?page=@(i)&region=@currentRegion&occupation=@ocFilter">@(i + 1)</a>
                    }
                }
            }
        </div>
    }

    <div style="text-align: center">
        <div class="info">
            <div class="info-title">
                Покупателям
            </div>
            <div class="info-text">
                Не нашли то, что искали? Объявите тендер и поставщики сами вас найдут.
            </div>
            <div class="action-button">
                <img src="~/Content/images/layout/addtender.png" />
            </div>
            <div class="action-text">Разместите тендер!<br />
                Бесплатно</div>
        </div>

        <div class="info">
            <div class="info-title">
                Поставщикам
            </div>
            <div class="info-text">
                Хотите видеть ваши товары здесь? Зарегистрируйтесь, это бесплатно.
            </div>
            <div class="action-button">
                <img src="~/Content/images/layout/addproduct.png" />
            </div>
            <div class="action-text">Зарегистрируйтесь сейчас! Бесплатно</div>
        </div>
    </div>
    
    <div style="margin-top: 15px">
        <div style="font-size: 16px; font-weight: bold">
            @Model.Title
        </div>
        <div style="margin-top: 10px">
            @Model.Description
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.hot-product').last().css('border-right', 'none');
    $(".product-sort").val('@ocFilter').change(function () {
        var newVal = $(this).val();
        if (newVal == "views") {
            window.location.href = '/browse-category/@Model.Id?region=@currentRegion';
        }
        window.location.href = '/browse-category/@Model.Id?region=@currentRegion&occupation='+newVal;
    });
</script>
