@using Kartel.Domain.Entities
@using Kartel.Domain.Infrastructure.Misc
@using Kartel.Domain.Interfaces.Repositories
@using Kartel.Domain.IoC
@using Kartel.Trade.Web.Classes.Utils
@model Kartel.Domain.Entities.Category

@{
    ViewBag.Title = "Тендеры в категории " + Model.Title;
    Layout = "../Shared/_Layout.cshtml";
    int page = ViewBag.page;
    var totalPages = MathHelper.PagesCount(Model.GetTenders().Count(), 20);
    var countries = Locator.GetService<ICountriesRepository>().GetAllCountries();
    string currentRegion = ViewBag.CurrentRegion;
    var currentCountry = countries.FirstOrDefault(c => c.Code == currentRegion);
    string subregion = ViewBag.subregion;
    IEnumerable<Tender> tenders = ViewBag.tenders;
    var banners = Locator.GetService<IBannersRepository>().FindAll()
        .Where(f => string.IsNullOrEmpty(f.Html) & f.Img != null & f.Extra == "5")
        .OrderBy(f => f.Sort)
        .ToList();
    ViewBag.metaKeywords = Model.GetMetaString(currentCountry, page, totalPages , subregion);
    ViewBag.metaDescription = Model.GetMetaString(currentCountry, page, totalPages, subregion);
    var availableCountries = (IEnumerable<string>) ViewBag.availableCountries;
    var availableRegions = (IEnumerable<string>) ViewBag.availableRegions;
    var regions = new string[]
    {
        "Адыгея",
        "Алтайский край",
        "Амурская обл.",
        "Архангельская обл.",
        "Астраханская обл.",
        "Башкортостан",
        "Белгородская обл.",
        "Брянская обл.",
        "Бурятия",
        "Владимирская обл.",
        "Волгоградская обл.",
        "Вологодская обл.",
        "Воронежская обл.",
        "Дагестан",
        "Забайкальский край.",
        "Ивановская обл.",
        "Иркутская обл.",
        "Калининградская обл.",
        "Калужская обл.",
        "Калмыкия",
        "Камчатская обл.",
        "Карелия",
        "Кемеровская обл.",
        "Кировская обл.",
        "Коми",
        "Костромская обл.",
        "Краснодарский край",
        "Красноярский край",
        "Курганская обл.",
        "Курская обл.",
        "Ленинградская обл.",
        "Липецкая обл.",
        "Магаданская обл.",
        "Марий Эл",
        "Мордовия",
        "Московская обл.",
        "Мурманская обл.",
        "Нижегородская обл.",
        "Новгородская обл.",
        "Новосибирская обл.",
        "Омская обл.",
        "Оренбургская обл.",
        "Орловская обл.",
        "Пензенская обл.",
        "Пермская обл.",
        "Приморский край",
        "Псковская обл.",
        "Ростовская обл.",
        "Рязанская обл.",
        "Самарская обл.",
        "Санкт-Петербург",
        "Саратовская обл.",
        "Сахалинская обл.",
        "Саха (Якутия)",
        "Свердловская обл.",
        "Северная Осетия",
        "Смоленская обл.",
        "Ставропольский край",
        "Тамбовская обл.",
        "Татарстан",
        "Тверская обл.",
        "Томская обл.",
        "Тульская обл.",
        "Тюменская обл.",
        "Удмуртская Респ.",
        "Ульяновская обл.",
        "Хабаровский край",
        "Хакасия",
        "Ханты-Мансийский а.о.",
        "Челябинская обл.",
        "Чувашская Респ.",
        "Ямало-Ненецкий а.о.",
        "Ярославская обл.",
    };
}

@* Хлебная крошка *@
@Html.Partial("NavigationChain")

<div id="page-tenders">
    <div class="tenders-banner">
        @Html.Partial("Banners",banners)
    </div>
    <div class="tenders-center">
        <div class="hr-block">
            Страница @(page + 1) из @totalPages
        </div>

        @foreach (var tender in tenders)
        {
            <div class="tender">
                <div class="tender-date">
                    @if (tender.DateCreated.HasValue)
                    {
                        <span class="day">@tender.DateCreated.Value.Day</span><br />@tender.DateCreated.Value.ToString("MMMM")<br />@tender.DateCreated.Value.Year <text>год</text>
                    }
                </div>
                <div class="tender-details">
                    <div class="tender-title">
                        <a href="/tenders/tender/@tender.Id">@tender.Title</a>
                    </div>
                    <div class="desc">
                        @tender.Description.TrimEllipsis(200)
                    </div>
                    <div class="location">
                        @tender.User.City, @tender.User.Country
                    </div>
                    <div class="price">
                        @tender.GetPrice()
                    </div>
                </div>
                <div class="clear-fix"></div>
            </div>
        }

        <div class="hr-block">
            Страница @(page + 1) из @totalPages
        </div>

        @* Пагинатор *@
        @if (totalPages > 1)
        {
            <div id="paginator">
                @for (var i = 0; i < totalPages; i++)
                {
                    if (i == page)
                    {
                    <span class="current-page">@(page + 1)</span>
                    }
                    else
                    {
                    <a href="/tenders/category/@Model.Id?page=@(i)&region=@currentRegion">@(i + 1)</a>
                    }
                }
            </div>
        }
    </div>
    <div class="tenders-filter">
        <div class="title">
            Регион
        </div>
        <ul class="countries">
            <li>
                <a href="/tenders/category/@Model.Id">Все регионы</a>
            </li>
            @foreach (var c in countries.Where(c => availableCountries.Contains(c.Name)))
            {
                <li>
                    <img src="@c.Flag"/><a href="/tenders/category/@Model.Id?region=@c.Code">@c.Name</a>
                    @if (c.Name == "Россия")
                    {
                        <div class="region-select">
                            Регион: 
                            <select id="sub-region">
                                <option></option>
                                @foreach (var region in regions.Where(availableRegions.Contains))
                                {
                                    <option value="@region" @(subregion == region ? "selected=selected":"")>@region</option>
                                }
                            </select>
                        </div>
                    }
                </li>
            }
        </ul>
    </div>
    <div style="margin-top: 15px">
        <div style="font-size: 16px; font-weight: bold">
            @Model.Title
        </div>
        <div style="margin-top: 10px">
            @Model.Description
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $(".region-select").find("option").each(function(index, item) {
            $(item).val($(item).text());
        });
        $("#sub-region").val('@subregion').change(function () {
            var newVal = $(this).val();
            if (newVal == "") {
                window.location.href = '/tenders/category/@Model.Id?region=@currentRegion&subregion=';
        }
            window.location.href = '/tenders/category/@Model.Id?region=@currentRegion&subregion=' + newVal;
        });
    });
    $(document).ready(function () {
        $("li[data-what='tenders']").click();
    });
</script>